<!DOCTYPE html>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml"; ;
}
<html>
<head>


</head>
<body>
    <div class="container">
        <img src="~/Content/imagenes/proyectob.jpg" alt="Laboratory" class="center" style="width:100%;">
    </div>

</body>
</html>