@model WebApplication9.Models.Mensajes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckIfUser</title>
</head>
<body>

    @Html.DisplayTextFor(model => model.MensajeRol)

    <div> 
    </div>
</body>
</html>
